/* Replace Logo with homeflix logo */
:root {
    --logo: url("https://raw.githubusercontent.com/kingajohanna/jellyfin-logo/8cbd91af1101eceff6b45bf455bb615445729139/homeflix.png");
}

.pageTitleWithDefaultLogo {
    background-size: 100% !important;
}

.layout-mobile .pageTitleWithDefaultLogo {
    width: 130px !important;
}

#loginPage .visualLoginForm:not(.hide) h1::before {
  background-size: 50% !important;
}

#loginPage .manualLoginForm:not(.hide) h1.sectionTitle::before {
  background-size: 100% !important;
}
